@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

*{
    font-family: Tinos;
}

.bg-yellow{
    background-color: #FFC017; 
    
}

.border-bottom-dark{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.rounded-pill{
    font-size: 1.4em; 
    font-weight: 500;
}

.collapse li{
    font-weight: bold;
}

.discover{
    text-decoration: none;
    color: black;
}

.discover:hover{
    color: black;
}

#turkey{
    background-color: rgba(242, 242, 242, 1) !important;
}